.movie_card {
    width: 200px;
    height: 300px;
    margin: 15px;
    overflow: hidden;
    border-radius: 12px; 
    color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: all 0.3s ease-in-out; 
}

.movie_card:hover {
    transform: scale(1.1); 
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.4); 
}

.movie_poster {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.movie_details {
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: 40%; 
    padding: 10px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.movie_card:hover .movie_details {
    opacity: 1;
}

.movie_details_heading {
    font-size: 18px;
    font-weight: bold;
    color: white; 
    text-transform: uppercase;
    letter-spacing: 1px; 
}

.move_details_data{
  color: white;
}
.movie_data_rate {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0;
    color: gold; 
}

.movie_description {
    font-size: 12px;
    font-style: italic;
    color: #ccc; 
    line-height: 1.4;
}

@media (max-width: 768px) {
    .movie_cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 15px;
      padding: 10px;
    }

    .movie_card {
      width: 100%; 
      height: 250px; 
      margin: 10px 0;
      border-radius: 12px;
    }

    .movie_details {
      padding: 8px;
    }

    .movie_details_heading {
      font-size: 16px;
    }

    .movie_data_rate,
    .movie_description {
      font-size: 12px;
    }
}
