* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.navbar .logo {
    width: 120px;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right .icon {
    cursor: pointer;
}

.right img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    cursor: pointer;
}

.right .profile {
    position: relative;
}

.right .profile .options {
    display: none;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 5px;
}

.right .profile span {
    padding: 5px 10px;
    cursor: pointer;
}

.right .profile span:hover {
    background-color: rgb(42, 42, 42);
}

.right .profile:hover .options {
    background-color: black;
    color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 28px;
    left: -20px;
}

.links .link {
    color: white;
    text-decoration: none;
}

.links .link:hover {
    color: red;
    font-style: italic;
    letter-spacing: 2px;
    transition: 0.3s ease-in;

}


.navbar-toggler {
    color: white !important;
    background-color: white !important;
    background: transparent;
    border-radius: 4px;
    padding: 2px 8px !important;
}

.navbar-toggler:focus {
    border: none !important;
    outline: none;
    box-shadow: none !important;
}

.offcanvas {
    height: 450px;
}

@media screen and (max-width: 750px) {
    .right .profile:hover .options {
        position: absolute;
        top: 0px;
        left: 31px;
    }
}


@media screen and (max-width: 450px) {


    .offcanvas {
        width: 300px !important;
        height: 450px;
    }
}