@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');;

.app{
  display: grid;
  grid-template-rows: 80px auto;
  font-family:"Roboto", sans-serif;
}

